<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/home-page/cpanel/home" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Discover</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

   <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->


      {{#user}}
      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{{this.avatar}}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{this.name}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{this.name}}</h6>
            <span>Travel Application Manager</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/home-page/cpanel/profile">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/cpanel/logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
      {{/user}}

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/home-page/cpanel/home">
        <i class="bi bi-grid"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Thêm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../hotel/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="../../tour/cpanel/insert-tour">
            <i class="bi bi-circle"></i><span>Thêm chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="../../destination/cpanel/insert-destination">
            <i class="bi bi-circle"></i><span>Thêm điểm đến</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tour/cpanel/tour-table">
            <i class="bi bi-circle"></i><span>Chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/get-destination">
            <i class="bi bi-circle"></i><span>Điểm đến</span>
          </a>
        </li>
        <li>
          <a href="/booking/cpanel/get-new-booking-cpanel">
            <i class="bi bi-circle"></i><span>Đặt chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/hotel/cpanel/hotel-table">
            <i class="bi bi-circle"></i><span>Khách sạn</span>
          </a>
        </li>
        <li>
          <a href="../../tourguide/cpanel/tour-guide">
            <i class="bi bi-circle"></i><span>Hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-admin">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-user">
            <i class="bi bi-circle"></i><span>Người dùng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    {{!-- <li class="nav-item">
      <a class="nav-link collapsed" href="chart" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../tour/cpanel/chart">
            <i class="bi bi-circle"></i><span>Chart</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav --> --}}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/home-page/cpanel/profile">
        <i class="bi bi-person"></i>
        <span>Thông tin cá nhân</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  {{!-- <div class="pagetitle">
    <h1>Form Elements</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Elements</li>
      </ol>
    </nav>
  </div><!-- End Page Title --> --}}

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Chỉnh sửa chuyến đi</h5>

            <!-- General Form Elements -->
            <form method="post" enctype="multipart/form-data" action="/tour/cpanel/{{tour._id}}/edit-tour">
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Tên chuyến đi</label>
                <div class="col-sm-10">
                  <input value="{{tour.tourName}}" type="text" name="tourName" class="form-control">
                  <div>

                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giá người lớn</label>
                <div class="col-sm-10">
                  <input value="{{tour.adultPrice}}" type="text" name="adultPrice" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giá trẻ em</label>
                <div class="col-sm-10">
                  <input value="{{tour.childrenPrice}}" type="text" name="childrenPrice" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Độ tuổi trẻ em</label>
                <div class="col-sm-10">
                  <input value="{{tour.childrenAge}}" type="text" name="childrenAge" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Độ tuổi người lớn</label>
                <div class="col-sm-10">
                  <input value="{{tour.adultAge}}" type="text" name="adultAge" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Nơi khởi hành</label>
                <div class="col-sm-10">
                  <input value="{{tour.departmentPlace}}" type="text" name="departmentPlace" class="form-control">
                </div>
              </div>
               <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Ngày khởi hành</label>
                <div class="col-sm-10">
                  <input value="{{tour.departmentDate}}" type="text" name="ngayThangNam" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giờ khởi hành</label>
                <div class="col-sm-10">
                  <input value="{{tour.departmentHour}}" type="text" name="departmentHour" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Thời gian đi</label>
                <div class="col-sm-10">
                  <input value="{{tour.limitedDay}}" type="text" name="limitedDay" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Ngày hoạt động</label>
                <div class="col-sm-10">
                  <input value="{{tour.operatingDay}}" type="text" name="operatingDay" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giới hạn người</label>
                <div class="col-sm-10">
                  <input value="{{tour.limitedPerson}}" type="text" name="limitedPerson" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giảm giá</label>
                <div class="col-sm-10">
                  <input value="{{tour.offer}}" type="text" name="offer" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Phương tiện</label>
                <div class="col-sm-10">
                  <input value="{{tour.vehicle}}" type="text" name="vehicle" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Xếp hạng</label>
                <div class="col-sm-10">
                  <input value="{{tour.rating}}" type="text" name="rating" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Vùng Miền</label>
                <div class="col-sm-10">
                  <input value="{{tour.isdomain}}" type="text" name="isdomain" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Khách sạn</label>
                <div class="col-sm-10">
                  {{!-- <select name="hotel_id" id="hotel_id" class="form-control">
                    {{#each hotel}}
                    <option value="{{this._id}}">{{this.hotelName}}</option>
                    {{/each}}
                  </select> --}}
                  <div class="col-sm-10 btn btn-outline-primary" id="hotelName" onclick="toggleDialogHotel()">Ấn vào để chọn Hotel cho tour của bạn</div> 
                   <div id="dialogHotel" class="container">
                        <div class="row">
                          <h2>Danh sách chọn Hotels</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">địa chỉ</th>
                                            <th scope="col">xếp hạng</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each hotel}}
                                          <tr >
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="hotel_id" placeholder="{{this.hotelName}}" value="{{this._id}}" class="form-check-input" type="radio"  {{#if this.radio1}}checked{{/if}}>
                                                  <label for="{{this._id}}" class="form-check-label">{{@index}}</label>
                                              </div>
                                            </td>
                                            <td> {{this.hotelName}} </td>
                                            <td> {{this.phoneNumber}}</td>
                                            <td> {{this.address}}</td>
                                            <td> {{this.rating}}</td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOKHotel()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancelHotel()">Cancel</a>
                                  
                      </div>
                </div>
              </div>
              
               <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Hướng dẫn viên</label>
                <div class="col-sm-10">
                  {{!-- <select name="id_tourGuide" id="id_tourGuide" class="form-control">
                    {{#each tourGuide}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select> --}}
                    <div class="col-sm-10 btn btn-outline-primary" id="tourGuide" onclick="toggleDialogTourGuide()">Ấn vào để chọn HDV cho tour cua ban</div> 
                
                 <div id="dialogTourGuide" class="container">
                        <div class="row">
                          <h2>Danh sách chọn TourGuid</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">email</th>
                                            <th scope="col">Nơi làm việc</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each tourGuide}}
                                          <tr>
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="tourGuide_id"  value="{{this._id}}"  placeholder="{{this.name}}" class="form-check-input"  type="radio" {{#if this.radio}}checked{{/if}}>
                                                  <label for="{{this._id}}" class="form-check-label"></label>
                                              </div>
                                            </td>
                                            <td> {{this.name}} </td>
                                            <td> {{this.phoneNumber}}</td>
                                            <td> {{this.email}}</td>
                                            <td> {{this.workPlaces}}</td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOKTourGuide()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancelTourGuide()">Cancel</a>
                                  
                      </div>
                      </div>
              </div> 
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Trạng thái</label>
                <div class="col-sm-10">
                  <select id="isState" name="isState">
                    <option value="true">Hoạt động</option>
                    <option value="false">Không Hoạt động</option>
                  </select>
                </div>
              </div>
              {{!-- destination --}}
              <div class="row mb-3 form-group">
                <legend class="col-form-label col-sm-2 pt-0">Điểm đến</legend>
                <div class="col-sm-10">
                  <div class="col-sm-10 btn btn-outline-primary" id="destination" onclick="toggleDialog()">Ấn vào để chọn điểm đến cho tour của bạn</div> 
                  </div>
                      <div id="dialog" class="container">
                        <div class="row">
                          <h2>Danh sách chọn điểm đến</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Name</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each destination}}
                                          <tr>
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="destination_id"  value="{{this._id}}"  placeholder="{{this.destinationName}}"  class="form-check-input" type="radio" {{#if this.radio2}}checked{{/if}}
                                                    >
                                                  <label for="{{this._id}}"  class="form-check-label">{{@index}}</label>
                                              </div>
                                            </td>
                                            <td> {{this.destinationName}} </td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOK()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancel()">Cancel</a>
                                  
                      </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Thêm hình ảnh</label>
                <div class="col-sm-10">
                  <input onchange="displayImg()" class="form-control" name="tourImage" id="image" type="file" id="image"
                    multiple="multiple" />
                  <img id="img" src="{{tour.tourImage}}"
                    style="width: 200px; height: 100px; margin-top: 10px; object-fit: fill;" alt="Image Tour">
                   <input type="hidden" id="imgUrl" name="tourImage" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10">
                  <textarea  class="form-control" name="description"
                    style="height: 200px">{{tour.description}}</textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Xác nhận </label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Xác nhận </button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<script>

  const hotel = {
    hotelName: false,
    address: false,
    phoneNumber: false,
    description: false,
    rating: false,
    //image: false
  }


  const validate = () => {
    hotel.hotelName = document.getElementById('hotelName').value != '' && document.getElementById('hotelName').value.trim().length > 0;
    hotel.address = document.getElementById('address').value != '' && document.getElementById('address').value.trim().length > 0;
    hotel.phoneNumber = document.getElementById('phoneNumber').value != '' && document.getElementById('phoneNumber').value.trim().length > 0;
    hotel.description = document.getElementById('description').value != '' && document.getElementById('description').value.trim().length > 0;
    hotel.rating = document.getElementById('rating').value != '' && document.getElementById('rating').value.trim().length > 0;
    //hotel.image = document.getElementById('image').value != '' && document.getElementById('image').value.trim().length > 0;

    if (hotel.hotelName && hotel.address && hotel.phoneNumber && hotel.description && hotel.rating) {
      document.getElementById('submit').removeAttribute('disabled');
    } else {
      document.getElementById('submit').setAttribute('disabled', true);
    }
  }

  const onClickForm = () => {
    let phone = document.getElementById('phoneNumber').value;
    let rating = document.getElementById('rating').value;
    let textErrorRating;
    let textErrorPhoneNumber;
    const phoneRegex = /((09|03|07|08|05)+([0-9]{8})\b)/g;


    if (phoneRegex.test(phone) == false) {
      textErrorPhoneNumber = "The phone number is not in the correct format";
      document.getElementById('phoneError').innerHTML = textErrorPhoneNumber;
      console.log(phoneRegex.test(phone));
      return false;
    } else {
      textErrorPhoneNumber = "";
      document.getElementById('phoneError').innerHTML = textErrorPhoneNumber;
    }

    if (rating < 0 || rating > 5) {
      textErrorRating = "Rating must be between 0 and 5";
      console.log(rating < 0 || rating > 5);
      document.getElementById('ratingError').innerHTML = textErrorRating;
      return false;
    } else {
      textErrorRating = "";
      document.getElementById('ratingError').innerHTML = textErrorRating;
    }

    return true

  }


  // hiển thị hình ảnh khi chọn
  const displayImg = () => {
    var file = document.getElementById('image').files[0];
    var reader = new FileReader();
    reader.onload = function (e) {
      var image = document.getElementById("img");
      image.src = e.target.result;
    }
    reader.readAsDataURL(file);
  }

  // upload image fire base
  const firebaseConfig = {
    apiKey: "AIzaSyD9ezQlOj2HZzJcdGwsERN4GjYiersb1GM",
    authDomain: "travelapp-3e538.firebaseapp.com",
    projectId: "travelapp-3e538",
    storageBucket: "travelapp-3e538.appspot.com",
    messagingSenderId: "579542678002",
    appId: "1:579542678002:web:5dd5b62019867affea136b",
    measurementId: "G-Z8HBLEHY6X"
  };

  firebase.initializeApp(firebaseConfig);
  // xử lí khi chọn ảnh upload lên firebase
  const onChangeImage = () => {
    const file = document.getElementById('image').files[0];
    const reader = new FileReader();
    reader.onload = e => {
      document.getElementById('image-display').src = e.target.result;
    }
    reader.readAsDataURL(file);
    // upload lên firebase
    const ref = firebase.storage().ref(`hotel/${new Date().getTime() + '-' + file.name}`);
    const uploadTask = ref.put(file);
    uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
      (snapshot) => { },
      (error) => { console.log('firebase error: ', error) },
      () => {
        uploadTask.snapshot.ref.getDownloadURL().then(url => {
          console.log('>>>>> File available at:', url);
          document.getElementById('imgUrl').value = url;
        })
      }
    );
  }

  function mySelect() {
  document.getElementById("rating").value = "hotel.rating";
}


</script>
{{!-- dialog Destinatin --}}
<script>

    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialog() {
        var dialog = document.getElementById("dialog");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }
const radioButtons2 = document.querySelectorAll('input[name="destination_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons2.length >= 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedDestination = radioButtons2[0].placeholder;
        document.getElementById("destination").innerHTML = selectedDestination;
        // Thực hiện các hành động khác nếu cần
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một điểm đến.');
    }
    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOK() {
      const radioButtons2 = document.querySelectorAll('input[name="destination_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons2.length >= 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedDestination = radioButtons2[0].placeholder;
        document.getElementById("destination").innerHTML = selectedDestination;
        // Thực hiện các hành động khác nếu cần
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một điểm đến.');
    }

        toggleDialog();
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancel() {
       
        toggleDialog();
    }

  
</script>

{{!-- dialog tourguide --}}
<script>
   
    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialogTourGuide() {
        var dialog = document.getElementById("dialogTourGuide");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }
  

    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOKTourGuide() {
        const radioButtons = document.querySelectorAll('input[name="tourGuide_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length >= 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedTourGuide = radioButtons[0].placeholder;
        console.log(selectedTourGuide)
        document.getElementById("tourGuide").innerHTML = selectedTourGuide;
        // Thực hiện các hành động khác nếu cần
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn hdv.');
    }
    
        toggleDialogTourGuide();
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancelTourGuide() {
     
        toggleDialogTourGuide();
    }
</script>

{{!-- dialog hotel --}}
<script>
   
    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialogHotel() {
        var dialog = document.getElementById("dialogHotel");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }
const radioButtons = document.querySelectorAll('input[name="hotel_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length >= 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedHotelId = radioButtons[0].placeholder;
         document.getElementById("hotelName").innerHTML = selectedHotelId;
        // Thực hiện các hành động khác nếu cần
        
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một khách sạn.');
    }

    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOKHotel() {
      // Lấy tất cả các radio button với name là "hotel_id"
    const radioButtons = document.querySelectorAll('input[name="hotel_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length >= 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedHotelId = radioButtons[0].placeholder;
         document.getElementById("hotelName").innerHTML = selectedHotelId;
        // Thực hiện các hành động khác nếu cần
        
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một khách sạn.');
    }
        toggleDialogHotel();
        
       
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancelHotel() {
       // Hủy chọn bằng cách xóa class 'selected'
   
        toggleDialogHotel();
         
    }
</script>