<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/home-page/cpanel/home" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Discover</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button  title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

   <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->


      {{#user}}
      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{{this.avatar}}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{this.name}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{this.name}}</h6>
            <span>Travel Application Manager</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/home-page/cpanel/profile">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/cpanel/logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
      {{/user}}

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/home-page/cpanel/home">
        <i class="bi bi-grid"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Thêm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../hotel/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="../../tour/cpanel/insert-tour">
            <i class="bi bi-circle"></i><span>Thêm chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="../../destination/cpanel/insert-destination">
            <i class="bi bi-circle"></i><span>Thêm điểm đến</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tour/cpanel/tour-table">
            <i class="bi bi-circle"></i><span>Chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/get-destination">
            <i class="bi bi-circle"></i><span>Điểm đến</span>
          </a>
        </li>
        <li>
          <a href="/booking/cpanel/get-new-booking-cpanel">
            <i class="bi bi-circle"></i><span>Đặt chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/hotel/cpanel/hotel-table">
            <i class="bi bi-circle"></i><span>Khách sạn</span>
          </a>
        </li>
        <li>
          <a href="../../tourguide/cpanel/tour-guide">
            <i class="bi bi-circle"></i><span>Hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-admin">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-user">
            <i class="bi bi-circle"></i><span>Người dùng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    {{!-- <li class="nav-item">
      <a class="nav-link collapsed" href="chart" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../tour/cpanel/chart">
            <i class="bi bi-circle"></i><span>Chart</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav --> --}}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/home-page/cpanel/profile">
        <i class="bi bi-person"></i>
        <span>Thông tin cá nhân</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Thêm chuyến đi</h1>
    {{!-- <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Insert Tour</li>
      </ol>
    </nav> --}}
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <!-- General Form Elements -->
            <form method="post" enctype="multipart/form-data" action="/tour/cpanel/insert-tour">
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Tên chuyến đi</label>
                <div class="col-sm-10">
                  <input type="text" name="tourName" class="form-control" placeholder="Tên">
                  <div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giá người lớn</label>
                <div class="col-sm-10">
                  <input type="text" name="adultPrice" class="form-control" placeholder="100000">
                </div>
              </div>
               <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Giá trẻ em</label>
                <div class="col-sm-10">
                  <input type="text" name="childrenPrice" class="form-control" placeholder="100000">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Độ tuổi trẻ em</label>
                <div class="col-sm-10">
                  <input type="text" name="childrenAge" class="form-control" placeholder="7-14">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Độ tuổi người lớn</label>
                <div class="col-sm-10">
                  <input type="text" name="adultAge" class="form-control" placeholder="15-">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Nơi khởi hành</label>
                <div class="col-sm-10">
                  <input type="text" name="departmentPlace" class="form-control" placeholder="tphcm">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Ngày khởi hành</label>
                <div class="col-sm-10">
                  <input type="text" name="ngayThangNam" class="form-control" placeholder="yyyy/mm/dd">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Giờ khởi hành</label>
                <div class="col-sm-10">
                  <input type="text" name="departmentHour" class="form-control" placeholder="04:00">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Xếp hạng</label>
                <div class="col-sm-10">
                  <input type="text" name="rating" class="form-control" placeholder="0">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Vùng Miền</label>
                <div class="col-sm-10">
                  <input type="text" name="isdomain" class="form-control" placeholder="Miền Nam">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Thời gian đi</label>
                <div class="col-sm-10">
                  <input type="text" name="limitedDay" class="form-control" placeholder="2 ngày 1 đêm">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Ngày hoạt động</label>
                <div class="col-sm-10">
                  <input type="text" name="operatingDay" class="form-control" placeholder="tháng 10">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Giới hạn người</label>
                <div class="col-sm-10">
                  <input type="text" name="limitedPerson" class="form-control" placeholder="10">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Giảm giá</label>
                <div class="col-sm-10">
                  <input type="text" name="offer" class="form-control" placeholder="5%">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Phương tiện</label>
                <div class="col-sm-10">
                  <input type="text" name="vehicle" class="form-control" placeholder="xe">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Khách sạn</label>
                <div class="col-sm-10">
                  {{!-- <select name="hotel_id" id="hotel_id" class="form-control">
                    {{#each hotel}}
                    <option value="{{this._id}}">{{this.hotelName}}</option>
                    {{/each}}
                  </select> --}}
                  <div class="col-sm-10 btn btn-outline-primary" id="hotelName" onclick="toggleDialogHotel()">Ấn vào để chọn Hotel cho tour của bạn</div> 
                   <div id="dialogHotel" class="container">
                        <div class="row">
                          <h2>Danh sách chọn Hotels</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">địa chỉ</th>
                                            <th scope="col">xếp hạng</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each hotel}}
                                          <tr class="{{#if this.isSelected}}selected{{/if}}">
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="hotel_id" placeholder="{{this.hotelName}}" value="{{this._id}}" class="form-check-input" type="radio">
                                                  <label value="{{this._id}}" class="form-check-label">{{@index}}</label>
                                              </div>
                                            </td>
                                            <td> {{this.hotelName}} </td>
                                            <td> {{this.phoneNumber}}</td>
                                            <td> {{this.address}}</td>
                                            <td> {{this.rating}}</td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOKHotel()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancelHotel()">Cancel</a>
                                  
                      </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Hướng dẫn viên</label>
                <div class="col-sm-10">
                  {{!-- <select name="id_tourGuide" id="id_tourGuide" class="form-control">
                    {{#each tourGuide}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select> --}}
                    <div class="col-sm-10 btn btn-outline-primary" id="tourGuide" onclick="toggleDialogTourGuide()">Ấn vào để chọn HDV cho tour cua ban</div> 
                </div>
                 <div id="dialogTourGuide" class="container">
                        <div class="row">
                          <h2>Danh sách chọn TourGuid</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col">email</th>
                                            <th scope="col">Nơi làm việc</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each tourGuide}}
                                          <tr>
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="tourGuide_id" value="{{this._id}}" placeholder="{{this.name}}" class="form-check-input" type="radio">
                                                  <label value="{{this._id}}" class="form-check-label">{{@index}}</label>
                                              </div>
                                            </td>
                                            <td> {{this.name}} </td>
                                            <td> {{this.phoneNumber}}</td>
                                            <td> {{this.email}}</td>
                                            <td> {{this.workPlaces}}</td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOKTourGuide()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancelTourGuide()">Cancel</a>
                                  
                      </div>
              </div>
              {{!-- isStatee --}}
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Trạng thái</label>
                <div class="col-sm-10">
                  <select id="isState" name="isState">
                    <option value="true">Hoạt động</option>
                    <option value="false">Không Hoạt động</option>
                  </select>
                </div>
              </div>
              {{!-- Destination --}}
              <div class="row mb-3 form-group">
                <legend class="col-form-label col-sm-2 pt-0">Điểm đến</legend>
                <div class="col-sm-10">
                  <div class="col-sm-10 btn btn-outline-primary" id="destination" onclick="toggleDialog()">Ấn vào để chọn điểm đến cho tour của bạn</div> 
                  </div>
                      <div id="dialog" class="container">
                        <div class="row">
                          <h2>Danh sách chọn điểm đến</h2>
                                  {{!-- <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="get" action="#">
                                      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                      <a class=" btn btn-outline-primary"  title="Search"><i class="bi bi-search"></i></a>
                                    </form>
                                  </div><!-- End Search Bar --> --}}
                                    <div class="col-12">
                                      <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Name</th>
                                          </tr>
                                        </thead>
                                       <tbody>
                                          {{#each destination}}
                                          <tr>
                                             <td>
                                              <div class="custom-control custom-checkbox">
                                                  <input  name="destination_id" placeholder="{{this.destinationName}}" value="{{this._id}}" class="form-check-input" type="radio"
                                                   >
                                                  <label value="{{this._id}}" class="form-check-label">{{@index}}</label>
                                              </div>
                                            </td>
                                            <td> {{this.destinationName}} </td>
                                          </tr>
                                          {{/each}}

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <a class="btn btn-danger btn-lg" onclick="handleOK()">OK</a>
                                  <a class="btn btn-secondary btn-lg" onclick="handleCancel()">Cancel</a>
                                  
                      </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Thêm hình ảnh</label>
                <div class="col-sm-10">
                  <input class="form-control" name="tourImage" type="file" id="formFile" multiple="multiple" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Mô tả</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="description" style="height: 200px"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Xác nhận </label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>


{{!-- dialog destination --}}
<script>
    // Mảng để lưu trữ các checkbox được chọn
    var selectedOptions = [];

    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialog() {
        var dialog = document.getElementById("dialog");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }

    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOK() {
       const radioButtons = document.querySelectorAll('input[name="destination_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length > 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedTourGuide = radioButtons[0].placeholder;
        document.getElementById("destination").innerHTML = selectedTourGuide;
        // Thực hiện các hành động khác nếu cần
        
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một khách sạn.');
    }
        toggleDialog();
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancel() {
    //   var checkboxes = document.querySelectorAll("input[type=checkbox]");
      //  checkboxes.forEach(function(checkbox) {
       //     checkbox.checked = selectedOptions[checkbox.id];
      //  });
      
        toggleDialog();
    }
</script>

{{!-- dialog tourguide --}}
<script>
   
    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialogTourGuide() {
        var dialog = document.getElementById("dialogTourGuide");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }

    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOKTourGuide() {
        const radioButtons = document.querySelectorAll('input[name="tourGuide_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length > 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedTourGuide = radioButtons[0].placeholder;
        document.getElementById("tourGuide").innerHTML = selectedTourGuide;
        // Thực hiện các hành động khác nếu cần
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một khách sạn.');
    }
    
        toggleDialogTourGuide();
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancelTourGuide() {
       var checkboxes = document.querySelectorAll("input[type=radio]");
        checkboxes.forEach(function(radio) {
            radio.checked = selectedOptions[radio.id];
        });
        toggleDialogTourGuide();
    }
</script>

{{!-- dialog hotel --}}
<script>
   
    // JavaScript để ẩn/hiện hộp thoại
    function toggleDialogHotel() {
        var dialog = document.getElementById("dialogHotel");
        if (dialog.style.display === "block") {
            dialog.style.display = "none";
        } else {
            dialog.style.display = "block";
        }
    }


    // JavaScript để xử lý khi nhấp vào nút "OK"
    function handleOKHotel() {
      // Lấy tất cả các radio button với name là "hotel_id"
    const radioButtons = document.querySelectorAll('input[name="hotel_id"]:checked');

    // Kiểm tra xem có radio button nào được chọn hay không
    if (radioButtons.length > 0) {
        // Lấy giá trị của radio button đã chọn
        const selectedHotelId = radioButtons[0].placeholder;
         document.getElementById("hotelName").innerHTML = selectedHotelId;
        // Thực hiện các hành động khác nếu cần
        
    } else {
        // Hiển thị thông báo hoặc thực hiện hành động khác nếu không có radio button nào được chọn
        console.log('Vui lòng chọn một khách sạn.');
    }
        toggleDialogHotel();
        
       
    }

    // JavaScript để xử lý khi nhấp vào nút "Cancel"
    function handleCancelHotel() {
       // Hủy chọn bằng cách xóa class 'selected'
   
        toggleDialogHotel();
         
    }
    


    
</script>
