<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/home-page/cpanel/home" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Discover</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="get" action="/tour/cpanel/tour-table/search">
      <input type="text" name="searchName" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->




  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->


      {{#user}}
      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{{this.avatar}}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{this.name}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{this.name}}</h6>
            <span>Travel Application Manager</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/home-page/cpanel/profile">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/cpanel/logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
      {{/user}}

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/home-page/cpanel/home">
        <i class="bi bi-grid"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Thêm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../hotel/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="../../tour/cpanel/insert-tour">
            <i class="bi bi-circle"></i><span>Thêm chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="../../destination/cpanel/insert-destination">
            <i class="bi bi-circle"></i><span>Thêm điểm đến</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tour/cpanel/tour-table">
            <i class="bi bi-circle"></i><span>Chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/get-destination">
            <i class="bi bi-circle"></i><span>Điểm đến</span>
          </a>
        </li>
        <li>
          <a href="/booking/cpanel/get-new-booking-cpanel">
            <i class="bi bi-circle"></i><span>Đặt chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/hotel/cpanel/hotel-table">
            <i class="bi bi-circle"></i><span>Khách sạn</span>
          </a>
        </li>
        <li>
          <a href="../../tourguide/cpanel/tour-guide">
            <i class="bi bi-circle"></i><span>Hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-admin">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-user">
            <i class="bi bi-circle"></i><span>Người dùng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    {{!-- <li class="nav-item">
      <a class="nav-link collapsed" href="chart" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../tour/cpanel/chart">
            <i class="bi bi-circle"></i><span>Chart</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav --> --}}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/home-page/cpanel/profile">
        <i class="bi bi-person"></i>
        <span>Thông tin cá nhân</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Chuyến đi đang tiến hành</h1>
    <div class="gap-4 d-md-flex justify-content-md-end">
      <select id="myDropdown" onchange="goToPage(this)">
        <option value="">Chọn trang</option>
        <option value="../cpanel/tour-table">Hoạt động</option>
        <option value="../cpanel/get-offer-tour">Khuyến mãi</option>
        <option value="../cpanel/tour-table-false">Không hoạt động</option>
        <option value="../cpanel/get-tour-will-travel">Sắp diễn ra</option>
        <option value="../cpanel/get-traveling-tour">Đang tiến hành</option>
        <option value="../cpanel/get-completed-tour">Đã hoàn thành</option>
      </select>
    </div>
  </div><!-- End Page Title -->

   <div>
    <p id="TourTrue" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #0000EE;"></p>
    <p id="TourDeal" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #256c7e;"></p>
    <p id="TourFalse" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #FF0033;"></p>
    <p id="TourWill" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #00FF00;"></p>
    <p id="TourTravel" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #00AA00;"></p>
    <p id="TourComplete" style="display: inline-block; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white; color: #00CC33;"></p>
  </div><!-- End Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            {{!-- <div class="dropdown gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px;">
              <a class="btn btn-outline-dark me-md-3 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a onclick="showGenre(this)" class="dropdown-item" href="/tour/cpanel/tour-table">Mặc định</a></li>
                <li><a onclick="showGenre(this)" class="dropdown-item" href="#">Đánh giá nhiều nhất</a></li>
                <li><a onclick="showGenre(this)" class="dropdown-item" href="/tour/cpanel/tour-table/rating">Được yêu
                    thích</a></li>
                <li><a onclick="showGenre(this)" class="dropdown-item" href="">Khu vực: Đà Lạt</a></li>
                <li><a onclick="showGenre(this)" class="dropdown-item" href="">Khu vực: Vũng Tàu</a></li>
              </ul>
            </div> --}}


            <!-- Table with stripped rows -->
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col">Hình ảnh</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Giá người lớn</th>
                  <th scope="col">Giá trẻ em dưới 15</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Ngày khỏi hành</th>
                  <th scope="col">Ngày kết thúc</th>
                </tr>
              </thead>
              <tbody>
                {{#each filteredBookings}}

                <tr>
                  <td class="py-1">
                    <img src="{{this.tourImage}}" alt="image" width="200" height="100" />
                  </td>
                  <td> {{this.tourName}} </td>
                  <td id="adultPrice{{@index}}"></td>
                  <td id="childrenPrice{{@index}}"></td>
                  <td>
                    {{#if this.isState}}
                      Hoạt động
                    {{else}}
                      Không hoạt động
                    {{/if}}
                  </td>
                  <td> {{this.departmentDate}}</td>
                  <td> {{this.expectedDate}}</td>

                  <td class="text-right">
                    <div style="display: flex; justify-content: space-between;">
                      <a href="/tour/cpanel/detail-tour/{{this._id}}" class="btn btn-success m-1">
                        <i class='bx bx-detail'></i>
                      </a>
                      {{!-- <a href="/tour/cpanel/{{this._id}}/edit-tour" class="btn btn-primary m-1">
                        <i class='bx bx-edit'></i>
                      </a>
                      <a onclick="confirmDelete('{{this._id}}')" type="button" class="btn btn-danger m-1">
                        <i class='bx bx-trash'></i>
                      </a>
                      <a onclick="confirmOpenTour('{{this._id}}')" type="button" class="btn btn-success m-1">
                        <i class="fas fa-folder-open"></i>
                      </a> --}}
                    </div>
                  </td>
                </tr>

                {{/each}}

              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
{{!-- js delete tour --}}
<script>
  const fetchAPI = async (url, option) => {
    const res = await fetch(url, option)
    return res.json();
  }

  const deleteProduct = async (id) => {
    const url = `/tour/cpanel/${id}/delete`;

    const option = {
      method: 'get',
      headers: { 'Content-Type': 'application/json' }
    }
    try {
      const result = await fetchAPI(url, option);
      console.log('delete result: ', result)

      if (result.tourisState == true && result.status) {
        swal('Không thể xóa!', {
          icon: 'error',
        });
      }

    } catch (e) {
      console.log('error delete: ', e)
      throw e;
    }
  }


  const confirmDelete = (id) => {
    swal({
      title: "Xác nhận xóa?",
      text: "Bạn có muốn xóa sản phẩm này?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          deleteProduct(id);
          swal({
            title: "Deleted!",
            text: "Xóa thành công!!",
            icon: "success"
          }).then((wil) => {
            window.location.reload();
          })
        }
      });
  }




  const openTour = async (tour_id) => {
    const url = `/tour/api/send-mail-open-tour?tourId=${tour_id}`;

    const option = {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    }
    try {
      const result = await fetchAPI(url, option);
      console.log('delete result: ', result)

    } catch (e) {
      console.log('error delete: ', e)
      throw e;
    }
  }


  const confirmOpenTour = (tour_id) => {
    swal({
      title: "Mở Tour",
      text: "Bạn có muốn mở tour này?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          openTour(tour_id);
          swal({
            title: "Thành công!",
            text: "Mở thành công!!",
            icon: "success"
          }).then((wil) => {
            window.location.reload();
          })
        }
      });
  }



  function showGenre(item) {
    document.getElementById("dropdownMenuLink").innerHTML = item.innerHTML;
  }

</script>

<script>
  function goToPage(select) {
    var selectedOption = select.options[select.selectedIndex].value;

    if (selectedOption !== "") {
      window.location.href = selectedOption;
    }
  }
</script>

<script>
  function bookingLength1() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/cpanel/get-all-tour1')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourTrue');
        const title = 'Tour hoạt động: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength1();
</script>

<script>
  function bookingLength2() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/api/get-closed-tour')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourFalse');
        const title = 'Tour không hoạt động: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength2();
</script>

<script>
  function bookingLength3() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/api/get-tour-will-travel')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourWill');
        const title = 'Tour sắp diễn ra: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength3();
</script>

<script>
  function bookingLength4() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/api/get-traveling-tour')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourTravel');
        const title = 'Tour đang tiến hành: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength4();
</script>

<script>
  function bookingLength5() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/api/get-completed-tour')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourComplete');
        const title = 'Tour hoàn thành: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength5();
</script>

<script>
  function bookingLength6() {
    // Make an AJAX request to the API endpoint
    fetch('/tour/api/get-offer-tour')
      .then(response => response.json())
      .then(data => {
        const lengthGetNew = data.tours.length;
        const resultLeangth = document.getElementById('TourDeal');
        const title = 'Tour khuyến mãi: ';
        resultLeangth.innerHTML = title + lengthGetNew;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
  }
  bookingLength6();
</script>

<script>
  {{#each tours}}
    const childrenPrice{{@index}} = '{{this.childrenPrice}}';
    const adultPrice{{@index}} = '{{this.adultPrice}}';


    function formatPrice1{{@index}}() {
      const VND = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(adultPrice{{@index}});
      document.getElementById("adultPrice{{@index}}").innerHTML = VND;
    }
    formatPrice1{{@index}}();

    function formatPrice2{{@index}}() {
      const VND = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(childrenPrice{{@index}});
      document.getElementById("childrenPrice{{@index}}").innerHTML = VND;
    }
    formatPrice2{{@index}}();


  {{/each}}
</script>