<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/home-page/cpanel/home" class="logo d-flex align-items-center">
            <img src="//assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Discover</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->


            {{#user}}
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{{this.avatar}}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{this.name}}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{this.name}}</h6>
                        <span>Travel Application Manager</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/home-page/cpanel/profile">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/cpanel/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
            {{/user}}

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/home-page/cpanel/home">
        <i class="bi bi-grid"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Thêm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../hotel/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="../../tour/cpanel/insert-tour">
            <i class="bi bi-circle"></i><span>Thêm chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="../../destination/cpanel/insert-destination">
            <i class="bi bi-circle"></i><span>Thêm điểm đến</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tour/cpanel/tour-table">
            <i class="bi bi-circle"></i><span>Chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/get-destination">
            <i class="bi bi-circle"></i><span>Điểm đến</span>
          </a>
        </li>
        <li>
          <a href="/booking/cpanel/get-new-booking-cpanel">
            <i class="bi bi-circle"></i><span>Đặt chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/hotel/cpanel/hotel-table">
            <i class="bi bi-circle"></i><span>Khách sạn</span>
          </a>
        </li>
        <li>
          <a href="../../tourguide/cpanel/tour-guide">
            <i class="bi bi-circle"></i><span>Hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-admin">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-user">
            <i class="bi bi-circle"></i><span>Người dùng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    {{!-- <li class="nav-item">
      <a class="nav-link collapsed" href="chart" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../tour/cpanel/chart">
            <i class="bi bi-circle"></i><span>Chart</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav --> --}}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/home-page/cpanel/profile">
        <i class="bi bi-person"></i>
        <span>Thông tin cá nhận</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Chi tiết Tour đặt</h1>
        {{!-- <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Cards</li>
            </ol>
        </nav> --}}
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-12">

                <!-- Card with an image on top -->
                <div class="card">
                    <img id="image" src="{{booking.tour_id.tourImage}}" style="object-fit: cover; max-width: 90%;height: 600px" class="card-img-top mx-auto d-block"
                        alt="Image Tour">
                    <div class="card-body">
                        <div style="display: flex; align-items: center;">
                            <h5 class="card-title">{{booking.tour_id.tourName}}</h5>
                            {{!-- <div style="display: flex; margin-left: 16px;">
                                <i class='bx bxs-star' style="color: yellow; font-size: 24px;"></i>
                                <i class='bx bxs-star' style="color: yellow; font-size: 24px;"></i>
                                <i class='bx bxs-star' style="color: yellow; font-size: 24px;"></i>
                                <i class='bx bxs-star' style="color: yellow; font-size: 24px;"></i>
                                <i class='bx bxs-star' style="color: gray; font-size: 24px;"></i>
                            </div> --}}
                        </div>
                        <p class="card-text" >Tổng tiền: <span id="formatPrice"></span></p>
                        <p class="card-text">Số lượng người lớn: {{booking.adult}}</p>
                        <p class="card-text">Số lượng trẻ em: {{booking.children}}</p>
                        <p class="card-text">Tên tài khoản đăng ký: {{booking.user_id.name}}</p>
                        <p class="card-text">Số điện thoại tài khoản đăng ký: {{booking.user_id.phoneNumber}}</p>
                        <p class="card-text">Ngày đặt tour: {{booking.bookingDate}}</p>
                        <p class="card-text">Ngày giới hạn: {{booking.tour_id.limitedDay}}</p>
                        <p class="card-text">Thông tin khách cung cấp: </p>
                        {{!-- <div id="guestInfo"></div> --}}
                        <table id="guestInfo" class="table">
                            <thead>
                                <tr class="col-lg-12">
                                    <th class="col-lg-3">Họ và Tên</th>
                                    <th class="col-lg-3">Ngày sinh</th>
                                    <th class="col-lg-3">Giới tính</th>
                                    <th class="col-lg-3">Loại</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Guest information will be populated here -->
                            </tbody>
                        </table>
                        {{!-- <p class="card-text">Thông tin khách cung cấp: {{booking.guestInfo}}</p> --}}
                        <p class="card-text">Địa điểm đón khách: {{booking.tour_id.departmentPlace}}</p>
                        <p class="card-text">Ngày đón khách: {{booking.departmentDate}}</p>
                        <p class="card-text">Thời gian đón khách: {{booking.departmentHour}}</p>
                        <p class="card-text">Ngày dự kiến kết thúc: {{booking.expectedDate}}</p>
                    </div>
                </div><!-- End Card with an image on top -->
                    <div class="col-lg-12">

                                    <!-- Default Card -->
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">About Tour</h5>
                                            {{booking.tour_id.description}}
                                        </div>
                                    </div><!-- End Default Card -->


                                </div>
            </div>
            
            <div class="card">
                <div class="card-header">More Image</div>
                <div style="display: flex; flex-wrap: wrap; ">
                    <div id="body-image"></div>
                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script>
    var image = document.getElementById("image").src;
    console.log(image);
    var imageArray = image.split(",");
    var imageLength = imageArray.length;
    console.log('image: ', imageLength);
    for (var i = 0; i < imageLength; i++) {
        console.log(imageArray[i]);
        var img = `<img id="image" src="${imageArray[i]}" style="object-fit: cover; width: 350px; height: 250px; margin: 10px; border-radius: 5px;" alt="Image Hotel ${i}">`;
        document.getElementById('body-image').insertAdjacentHTML('afterend', img);
    }
    console.log(imageArray);
</script>

<script>
    const bookingId = '{{booking._id}}';
    // Function to make an API request and populate guest information
    function getGuestInfo() {

        // Make an AJAX request to the API endpoint
        fetch('/booking/api/getBookingById?id=' + bookingId)
            .then(response => response.json())
            .then(data => {
                const guestInfoDiv = document.getElementById('guestInfo');

                data.booking.guestInfo.forEach(guest => {
                    const guestInfo = document.createElement('tr');
                    guestInfo.innerHTML = `
              <td>${guest.name}</td>
              <td>${guest.birthDate}</td>
              <td>${guest.gender}</td>
              <td>${guest.type}</td>
            `;

                    guestInfoDiv.querySelector('tbody').appendChild(guestInfo);
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    // Call the function to get and display guest information
    getGuestInfo();
</script>

<Script>
    const price = '{{booking.totalPrice}}';
                  function formatPrice() {
                    const VND = new Intl.NumberFormat('vi-VN', {style: 'currency',currency: 'VND',}).format(price);
                    document.getElementById("formatPrice").innerHTML = VND;
                  }
                  formatPrice();
</Script>