<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/home-page/cpanel/home" class="logo d-flex align-items-center">
      <img src="/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Discover</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->


      {{#user}}
      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{{this.avatar}}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{this.name}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{this.name}}</h6>
            <span>Người quản lý ứng dụng</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/home-page/cpanel/profile">
              <i class="bi bi-person"></i>
              <span>Thông tin cá nhân</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Giúp đỡ?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/cpanel/logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Đăng xuất</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
      {{/user}}

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/home-page/cpanel/home">
        <i class="bi bi-grid"></i>
        <span>Trang chủ</span>
      </a>
    </li><!-- End Dashboard Nav -->

     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Thêm</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/hotel/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/insert-form">
            <i class="bi bi-circle"></i><span>Thêm hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/tour/cpanel/insert-tour">
            <i class="bi bi-circle"></i><span>Thêm chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/insert-destination">
            <i class="bi bi-circle"></i><span>Thêm điểm đến</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/tour/cpanel/tour-table">
            <i class="bi bi-circle"></i><span>Chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/destination/cpanel/get-destination">
            <i class="bi bi-circle"></i><span>Điểm đến</span>
          </a>
        </li>
        <li>
          <a href="/booking/cpanel/get-new-booking-cpanel">
            <i class="bi bi-circle"></i><span>Đặt chuyến đi</span>
          </a>
        </li>
        <li>
          <a href="/hotel/cpanel/hotel-table">
            <i class="bi bi-circle"></i><span>Khách sạn</span>
          </a>
        </li>
        <li>
          <a href="/tourguide/cpanel/tour-guide">
            <i class="bi bi-circle"></i><span>Hướng dẫn viên</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-admin">
            <i class="bi bi-circle"></i><span>Admins</span>
          </a>
        </li>
        <li>
          <a href="/user/cpanel/list-user">
            <i class="bi bi-circle"></i><span>Người dùng</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    {{!-- <li class="nav-item">
      <a class="nav-link collapsed" href="chart" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Charts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="../../tour/cpanel/chart">
            <i class="bi bi-circle"></i><span>Chart</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav --> --}}

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/home-page/cpanel/profile">
        <i class="bi bi-person"></i>
        <span>Thông tin cá nhân</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Tour đang tiến hành</h1>
    <div class="gap-4 d-md-flex justify-content-md-end">
      <select id="myDropdown" onchange="goToPage(this)">
      <option value="">Chọn trang</option>
      <option value="../cpanel/get-new-booking-cpanel">Chờ xác nhận</option>
      <option value="../cpanel/get-confirmed-booking-cpanel">Sắp diễn ra</option>
      <option value="../cpanel/get-uncompleted-booking">Đang tiến hành</option>
      <option value="../cpanel/get-completed-booking">Đã hoàn thành</option>
      <option value="../cpanel/get-handle-cancel-cpanel">Chờ hủy</option>
      <option value="../cpanel/get-canceled-booking">Đã hủy</option>
      <option value="../cpanel/get-history-booking">Lịch sử</option>
    </select>
    </div>
  </div><!-- End Page Title -->

  <div style="display: flex; flex-wrap: wrap;">
    <p id="getNewBooking" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; background-color: white;"></p>
    <p id="unComplete" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #33FF33; background-color: white;"></p>
    <p id="handleCancel" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #FF9900; background-color: white;"></p>
    <p id="History" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #9999FF; background-color: white;"></p> 
    <p id="confirmTour" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #0099FF; background-color: white;"></p>
    <p id="Complete" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #00CC00; background-color: white;"></p>  
    <p id="Cancel" style="width: calc(25% - 20px); box-sizing: border-box; margin: 5px ; border: 1px solid #000; padding: 5px 10px; color: #FF0000; background-color: white;"></p>
  </div><!-- End Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            {{!-- <div class="dropdown gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-outline-dark me-md-3 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sắp xếp <span class="caret"></span>
              </a>
            </div> --}}


            <!-- Table with stripped rows -->
            <table class="table">
              <thead >
                <tr class="col-lg-12">
                  <th class="col-lg-1" scope="col">Hình ảnh Tour</th>
                  <th class="col-lg-2" scope="col">Tên Tour</th>
                  <th class="col-lg-1" scope="col">Hình ảnh khách</th>
                  <th class="col-lg-2" scope="col">Tên khách</th>
                  <th class="col-lg-2" scope="col">Ngày khỏi hành</th>
                  <th class="col-lg-2" scope="col">Giờ khỏi hành</th>
                  <th class="col-lg-2" scope="col">Dự kiến kết thúc</th>
                  {{!-- <th class="col-lg-3" scope="col">Lý do</th> --}}
                </tr>
              </thead>
              <tbody>
                {{#each filteredBookings}}

                <tr>
                  <td class="py-1">
                    <img src="{{this.tour_id.tourImage}}" alt="Không có ảnh" width="150" height="100" />
                  </td>
                  <td> {{this.tour_id.tourName}} </td>
                  <td class="py-1">
                    <img src="{{this.user_id.avatar}}" alt="Không có ảnh" width="150" height="100" />
                  </td>
                  <td> {{this.user_id.name}} </td>
                  <td> {{this.departmentDate}} </td>
                  <td> {{this.departmentHour}} </td>
                  <td> {{this.expectedDate}} </td>
                  {{!-- <td> {{this.reason}} </td> --}}

                  <td class="text-right">
                    <div style="display: flex; justify-content: space-between;">
                      <a href="/booking/cpanel/getBookingById?id={{this._id}}" class="btn btn-success m-1">
                        <i class='bx bx-detail'></i>
                      </a>
                        
                    </div>
                  </td>
                </tr>
                {{/each}}

              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
{{!-- js delete tour --}}
<script>
  const fetchAPI = async (url, option) => {
    const res = await fetch(url, option)
    return res.json();
  }

  const pushFeedback = async (user_id, tour_id, booking_id) => {
    const url = `/booking/cpanel/push-notification-feedback?userId=${user_id}&tourId=${tour_id}&bookingId=${booking_id}`;

    const option = {
      method: 'get',
      headers: { 'Content-Type': 'application/json' }
    }
    try {
      const result = await fetchAPI(url, option);
      console.log('delete result: ', result)
    } catch (e) {
      console.log('error delete: ', e)
      throw e;
    }
  }


  const confirmFeedback = (user_id, tour_id, booking_id) => {
    swal({
      title: "Xác nhận gửi Feedback?",
      text: "Bạn có muốn gửi Feedback đến tour này?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          pushFeedback(user_id, tour_id, booking_id);
          swal({
            title: "Success!",
            text: "Gửi Feedback thành công!!",
            icon: "success"
          }).then(() => {
            window.location.reload();
          })
        }
      });
  }


  function showGenre(item) {
    document.getElementById("dropdownMenuLink").innerHTML = item.innerHTML;
  }
  function goToPage(select) {
  var selectedOption = select.options[select.selectedIndex].value;
  
  if (selectedOption !== "") {
    window.location.href = selectedOption;
  }
}

</script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

<script>
  function bookingLength1() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-new-booking-cpanel')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.newBookings.length;
                const resultLeangth = document.getElementById('getNewBooking');
                const title = 'Chờ xác nhận Tour: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength1();
</script>

<script>
  function bookingLength2() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-handle-cancel-cpanel')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.newBookings.length;
                const resultLeangth = document.getElementById('handleCancel');
                const title = 'Chờ hủy Tour: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength2();
</script>

<script>
  function bookingLength3() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-uncompleted-booking')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.completedBookings.length;
                const resultLeangth = document.getElementById('unComplete');
                const title = 'Tour đang tiến hành: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength3();
</script>

<script>
  function bookingLength4() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-completed-booking')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.completedBookings.length;
                const resultLeangth = document.getElementById('Complete');
                const title = 'Tour đã hoàn thành: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength4();
</script>


<script>
  function bookingLength5() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-canceled-booking')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.canceledBookings.length;
                const resultLeangth = document.getElementById('Cancel');
                const title = 'Tour đã hủy: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength5();
</script>

<script>
  function bookingLength6() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-confirmed-booking-cpanel')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.completedBookings.length;
                const resultLeangth = document.getElementById('confirmTour');
                const title = 'Tour sắp diễn ra: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength6();
</script>

<script>
  function bookingLength7() {
        // Make an AJAX request to the API endpoint
        fetch('/booking/api/get-history-booking')
            .then(response => response.json())
            .then(data => {
                const lengthGetNew = data.completedBookings.length;
                const resultLeangth = document.getElementById('History');
                const title = 'Lịch sử Tour: ';
                resultLeangth.innerHTML = title + lengthGetNew;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }
    bookingLength7();
</script>